<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Login_Form.Properties.Settings.SalesConnectionString"
            connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\Sales.mdf;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="Login_Form.Properties.Settings.revenueBindingSource"
            connectionString="Data Source=LAPTOP-EVOGUQ1J\SQLEXPRESS;Initial Catalog=Sales;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="Login_Form.Properties.Settings.EmployeesConnectionString"
            connectionString="Data Source=LAPTOP-EVOGUQ1J\SQLEXPRESS;Initial Catalog=Employees;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="Login_Form.Properties.Settings.ProductsConnectionString"
            connectionString="Data Source=LAPTOP-EVOGUQ1J\SQLEXPRESS;Initial Catalog=Products;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="Login_Form.Properties.Settings.IMSDatabaseConnectionString"
            connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\IMSDatabase.mdf;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
    </startup>
</configuration>
